.form
    .section
        h2.form__headline Хотите посмотреть?
        .form__layout
            p.form__description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,используя Lorem Ipsum для распечатки образцов.
            form.form__content
                input.form__content__opacity(type='text' name='firstname' value='Ваше имя')
                input.form__content__opacity(type='text' name='telephone' value='Ваш телефон')
                span *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                input.form__content__btnColor(type="submit" value="Посмотреть район")

