header
    .header
        figure.logo
            img(src='images/HouseVOP')
            figcaption жилой комплекс
    nav
        ul.header__list
            li
                a(href='#') О комплексе
            li
                a(href='#') Район
            li
                a(href='#') Каталог квартир
            li
                a(href='#') Ипотека
            li
                a(href='#') Контакты
