header
    .section
        figure.header__logo
            img(src='images/HouseVOP.png')
            figcaption жилой комплекс
        nav
            ul.header__list
                li
                    a(href='#1') О комплексе
                li
                    a(href='#2') Район
                li
                    a(href='#3') Каталог квартир
                li
                    a(href='#4') Ипотека
                li
                    a(href='#5') Контакты
        h1 Жилой комплекс <br> в историческом центре
        .header__contacts
            .header__figure
                img(src='images/Vector.png')
                p Наб. реки Фонтанки 10-15
            .header__figure
                img(src='images/phone.png')
                p 8 (812) 123-45-67
