header
    .header
        figure.logo
            img(src='images/HouseVOP.png')
            figcaption жилой комплекс
    nav
        ul.header__list
            li
                a(href='#') О комплексе
            li
                a(href='#') Район
            li
                a(href='#') Каталог квартир
            li
                a(href='#') Ипотека
            li
                a(href='#') Контакты
    h1 Жилой комплекс в историческом центре
    .contacts
        img(src='images/Vector.png')
        p Наб. реки Фонтанки 10-15
        img(src='images/phone.png')
        p 8 (812) 123-45-67
