doctype html
html
    head
        meta(charset="UTF-8")
        link(href="scss/style.css" rel="stylesheet")
    body
        include modules/header
        include modules/section
        include modules/form1
        .video
            img(src="images/video2.png").video__mark

