@import "mixin";
body{
  margin: 0;
}
header{
  background-image: url("../images/Rectangle.png");
  background-repeat:no-repeat;
  background-size: cover;
}
.section{
  width: 70%;
  margin: 0 auto;

}
.header__logo{
  @include font(12px, 14px);
  letter-spacing: 0.12em;
  margin: 0;
  padding-top: 4%;
  width: 134px;
  display: inline-block;
}

nav{
  @include font(14px,16px);
  letter-spacing: 0.05em;
  padding-top: 4%;
  float: right;
  width: 40%;
  li{
    display: inline;
    padding-left: 3%;
    a{
      color:#ffffff;
      text-decoration: none;

    }
  }
}
h1{
  text-align: center;
  @include headline(48px,64px);
  padding-top: 12%;
  padding-bottom:23%;
}
.header__contacts{
  text-align: center;
  @include font(18px,21px);
  padding-bottom:5%;
  :nth-child(2){
  margin-left: 5%;
}
  .header__figure{
    display: inline-block;
    width: 20%;
    p{
      display: inline;
    }

}

}

