@import "mixin";
body{
  margin: 0;
  background: #242b33;
}
header{
  background-image: url("../images/Rectangle.png");
  background-repeat:no-repeat;
  background-size: cover;
}
.section{
  width: 60%;
  margin: 0 auto;

}
.header__logo{
  @include font(12px, 14px);
  letter-spacing: 0.12em;
  margin: 0;
  padding-top: 4%;
  width: 134px;
  display: inline-block;
}

nav{
  @include font(14px,16px);
  letter-spacing: 0.05em;
  padding-top: 4%;
  float: right;
  width: 50%;
  li{
    display: inline;
    padding-left: 3%;
    a{
      color:#ffffff;
      text-decoration: none;
    }
  }
}
h1{
  text-align: center;
  @include headline(48px,64px);
  padding-top: 12%;
  padding-bottom:23%;
}
.header__contacts{
  text-align: center;
  @include font(18px,21px);
  padding-bottom:5%;
  :nth-child(2){
  margin-left: 5%;}
  .header__figure{
    display: inline-block;
    width: 20%;
    p{
      display: inline;
    } }  }
section{
  display: flex;
  justify-content: space-around;
  @include font(20px,27px);
  text-align: center;
  padding-top: 5%;
  img{ margin-bottom: 53px;}
}
.section__headline{
  @include headline(36px,48px);
  margin-top: 120px;
  margin-bottom: 100px;
}
.section__loft{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .section__image{
    margin-bottom: 30px;
    position: relative;
    p{
      position: absolute;
      left: 50px;
      bottom: 30px;
      @include font(24px,28px);
    }
  }
}